In [3]:
#while loop
x=0
while(x<10):
    print(x,end="\t")
    x+=1

0	1	2	3	4	5	6	7	8	9

In [6]:
#for loop
x="university"
for letter in x:
    print(letter,end=" ")

u n i v e r s i t y

In [9]:
num=12
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [10]:
num=12
for i in range(5,num+1):
    print(i)

5
6
7
8
9
10
11
12

In [ ]:
#dictionary example
d={2:"heno",3:"enes",4:"ali"}

In [12]:
d[3]

'enes'

In [15]:
for k in d.keys():
    print(d[k])

heno
enes
ali

In [20]:
rows=6
cols=4
for r in range(rows):
    for c in range (cols):
        print("*",end=" ")
    print("")
    cols-=1

* * * *
* * *
* *
*

In [21]:
a=5
b=6
if(a<b):
    c=9
else:
    c=a*b
print(c)

9